### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/TSPA.csv
/greedyCycle.csv
/nearestNeighbor.csv
/random.csv
/CanditatSteepestLocalSearch.csv
/greedyCycleRegret.csv
/greedyCycleSum2Regret.csv
/greedyLocalSearchBestStartNodesExchange.csv
/greedyLocalSearchRandomNodesExchange.csv
/.idea/misc.xml
/.idea/modules.xml
/output.png
/randomTest.csv
/src/TSPB.csv
/src/TSPC.csv
/src/TSPD.csv
/.idea/vcs.xml
/PreviousSteepestLocalSearch.csv
